<section class="experience" id="experience">
  <p class="section-label">Experience</p>
  <h2>Companies I’ve Worked With</h2>

  <div class="company-list">

    <ng-container *ngFor="let company of companies">

      <div class="company-card" (click)="toggleCompany(company)">
        <div>
          <span>{{ company.duration }}</span>
          <h3>{{ company.companyName }}</h3>
          <p>{{ company.role }} · {{ company.location }}</p>
        </div>

        <button>
         {{ activeCompany && activeCompany.id === company.id ? 'Close' : 'View Work' }}
        </button>
      </div>

      <div class="project-panel" *ngIf="activeCompany && activeCompany.id === company.id">
        <div class="project-card" *ngFor="let project of companyProjects">
          <h4>{{ project.title }}</h4>
          <p>{{ project.subtitle }}</p>

          <ul>
            <li>{{ project.description }}</li>
          </ul>
        </div>
      </div>

    </ng-container>

  </div>
</section>