<router-outlet></router-outlet>



<div class="test-star"></div>
<div *ngIf="!isAdminRoute">
  <app-webgl-background></app-webgl-background>

 <div class="shooting-stars">
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
  <span class="star"></span>
</div>

  <main class="portfolio">
    <app-hero></app-hero>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-projects></app-projects>
    <app-contact></app-contact>
  </main>
</div>