<section class="admin-login">

  <div class="orb orb-one"></div>
  <div class="orb orb-two"></div>

  <button
    class="mobile-back"
    routerLink="/"
    *ngIf="!securityPassed"
  >
    ←
  </button>

  <!-- SECRET QUESTION PAGE -->
  <div class="security-stage" *ngIf="!securityPassed">

    <div class="funny-bot">
      <div class="bot-head">
        <div class="eyes">
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="bot-body"></div>
    </div>

    <div class="question-card">
      <button class="desktop-back" routerLink="/">
        ← Back to Portfolio
      </button>

      <p class="small-label">AI SECURITY CHECKPOINT</p>

      <h1>Before You Enter...</h1>

      <div class="speech-bubble">
        {{ funnyMessage }}
      </div>

      <input
        type="text"
        [(ngModel)]="secretAnswer"
        placeholder="Enter secret answer"
      />

      <button (click)="verifyAnswer()">
        Convince The Bot
      </button>
    </div>

  </div>

  <!-- EMAIL LINK LOGIN PAGE -->
  <div class="login-card" *ngIf="securityPassed">

    <p class="admin-label">Portfolio Control Center</p>

    <h1>Secure Login</h1>

    <p class="subtitle">
      No password needed. Send a secure login link to your Gmail.
    </p>

    <div class="secure-email-box">
      s*************@gmail.com
    </div>

   <button
  *ngIf="!loginLinkSent"
  (click)="sendLoginLink()"
  [disabled]="loading"
>
  {{ loading ? 'Sending Link...' : 'Send Login Link to Gmail' }}
</button>

<div class="cooldown-box" *ngIf="loginLinkSent">
  {{ cooldownMessage }}
</div>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

  </div>

</section>